body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #00334e;
    color: #f4f4f4;
}

header h2 {
    color: #f4f4f4;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    margin-bottom: 5px;
}

.image-section {
    text-align: center;
    margin-bottom: 20px;
}

.image-section img {
    max-width: 20%;
    box-shadow: 0px 0px 10px #888;
}

header h3 {
    color: #0074b7;
    align-items : center;
}

.links-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.link-box {
    display: inline-block;
    padding: 10px;
    margin: 0 10px 10px 10px;
    background-color: #0074b7;
    text-decoration: none;
    border: 1px solid #00334e;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link-box a {
    color: #f4f4f4;
    text-decoration: none;
}

.link-box:hover {
    background-color: #00334e;
}

.link-box:hover a {
    color: #f4f4f4;
}

body#gamePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #6d6875; 
    margin: 0;
    padding: 0;
}

#topBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#homeButton {
    padding: 10px 20px;
    background-color: #00334e; 
    color: #f4f4f4;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#homeButton:hover {
    background-color: #0074b7;
    color: #f4f4f4;
}

#gameTitle {
    font-size: 3em;
    text-align: center;
    color: #ffffff; 
    text-shadow: 3px 3px #bcb8b1;
    margin-bottom: 20px;
}

.aura {
    border: 3px solid black;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 50px 15px rgba(84, 46, 255, 0.7); 
    align-self: center;
}



